/*  font-family: 'Permanent Marker', cursive;  */

body{
    margin:0;
    padding:0;
    height:100vh;
    background: url(img/alien.jpg) no-repeat;
    background-size: cover;
    text-align:center;

}
.trigger{
    position: relative;
    width:50px;
    height:50px;
    background-color:rgb(250, 61, 18);
    z-index: 2;
    cursor: pointer;
}

.trigger:hover img{
   width:50%;
   margin-top: 13px;
}
.trigger img{
    width:60%;
    margin:10px;
    transition:.7s ease;
}

#nav{
    background-color:rgba(0, 0, 0, 0.87);
    position: absolute;
    top:0;
    width:50px;
    height:100%;
    transition: .2s linear;
    border-top:50px solid rgb(250, 61, 18);
    border-right: solid rgb(250, 61, 18) 2px;
    box-sizing:border-box;
}

.pg{
    width:200px;
    height:40px;
    margin:50px auto;
    border:1px solid rgb(250, 61, 18);
    background-color:#000;
    border-radius:50px;
    transition: .1s linear;
    cursor: pointer;
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
    
}

.pg:hover{
    background-color: rgb(250, 61, 18);
    
    
}
.pg a{
    color:#fff;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    padding:0;
    margin:0;
    transition: .1s linear;
    display:block;
    width:100%;
}

#pgBtnWrap{
    display: none;
    height:700px;
    opacity: 0;
    transition: .5s linear;
}
#pgBtnWrap h3{
    font-family: 'Courier New', Courier, monospace;
    color:#fff;
    margin-top:200px;
}
.icons{
    width:300px;
    height:50px;
    font-size:25px;
    
}
.icons i{
    margin:5px;
     
 }
 .icons a{
     color:#fff;
 }


.title{
    position: fixed;
    width:100%;
    height:130px;
    background-color:rgba(18, 54, 11, 0.274);
    top:300px;
    margin:0;
    z-index: -2;
}

.hl{
    color:rgb(250, 61, 18);
}
.title h1{
    margin:0;
    font-family: 'Permanent Marker', cursive;
    color:#fff;
    font-size: 60px;
}
.title p{
    margin:0;
    font-family: 'Permanent Marker', cursive;
    color:#fff;
    

    
}
.tit{
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 25px;
    margin:0;
    text-transform: capitalize;  
}
.tWrap{
    position: relative;
    transition:.5s;
}

.pgWrapper{
    width:450px;
    height:300px;
    position:absolute;
    left:0;
    right:0;
    top:450px;
    margin:auto;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding:20px;
    transition: .5s;

}
.pgWrapper h1{
    font-size:20px;
}
.pgWrapper p{
    color:#fff;
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
}
.pgWrapper h1{
        font-size:20px;
    }
.output{
    border:2px solid #fff;
    width:100%;
    height:40px;
    border-radius:5px;
    background-color: rgba(0, 0, 0, 0.781);
    text-transform: capitalize;
    color:#fff;
    line-height:40px;
    font-family: 'Courier New', Courier, monospace;
    

}
.btnWrap{
    position: absolute;
    left:0;
    right:0;
    top:750px;
    margin:auto;
    transition:.5s;
}
#btn{
    text-transform: capitalize;
    width:120px;
    margin:60px;
    height:50px;
    border: 1px solid #eee;
    background-color:rgb(0, 0, 0);
    border-radius: 50px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(179, 177, 177);
    cursor: pointer;
    transition: .2s;
}
#btn:hover{
    background-color:rgb(14, 14, 14);
}
#btn:focus{
    outline:0;
}
.copy{
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    padding:0;
    margin:0;
}

/*------------------ pages ----------------------*/
#page1{
    opacity: 1;
}
#page2{
    opacity: 0;
    
}
#page3{
    opacity: 0;
}

/*---------------- tablet responsive ------------------*/
@media(max-height:800px){
    #pgBtnWrap h3{
        margin-top:100px;
    }
}
@media (min-width: 750px) and (max-width: 1050px){
   
    .pgWrapper{
        z-index: -10;
        width:400px;
        font-size:12px;
        top:280px;
    }
    .pgWrapper h1{
        font-size:18px;
    }
    
    .btnWrap{
        top:580px
    }
    #nav{
        background-color:rgb(0, 0, 0);
        height:100vh;
    }
    .title{
        top:0;
    }
}


/*---------------- mobile responsive ------------------*/
@media (min-width: 300px) and (max-width: 650px){
    
    body{
        margin:0;
        /* background-color: #04d401;
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23000000' fill-opacity='0.37' fill-rule='evenodd'/%3E%3C/svg%3E"); */
        height:100vh;
        text-align:center;
       
    
    }
    .pgWrapper{
        
        width:75%;
        font-size:8px;
        top:130px;
        left:10%;
        justify-content: center;
        height:auto;
    }
    
    
    .btnWrap{
        top:310px;
        left:15%;
        
    }
    #nav{
        background-color:rgb(0, 0, 0);
        height:100vh;
        z-index: 1;
    }
    .icons{
        margin: 10px auto;
    }
    .tWrap{
        left:8%;
    }
    .tWrap h1{
        font-size: 40px;
    }
    .title{
        top:0;
        height:90px;
    }
    #pgBtnWrap h3{
        margin:auto;
    }
    .pg{
        margin:6vh auto;
    }
    .output{
        margin:5px;
    }


}
